<section class="subscribe-section prose">
    <form
        action="https://buttondown.email/api/emails/embed-subscribe/jienweng"
        method="post"
        target="popupwindow"
        onsubmit="window.open('https://buttondown.email/jienweng', 'popupwindow')"
        class="embeddable-buttondown-form"
    >
        <h3>Subscribe for updates</h3>
        <p class="subscribe-description">Get notified when I publish new content.</p>

        <div class="subscribe-form-row">
            <input type="email" name="email" id="bd-email" placeholder="your-mail@example.com" required class="subscribe-input">

            <input type="hidden" value="1" name="embed" />

            <button type="submit" class="subscribe-button">
                Subscribe
            </button>
        </div>
    </form>
</section>
